body {
    --color--primary:#7585ff;
    --color--primary--dark:#0b2923;
    --color--secondary:#2c2e3b;
    --color--error:#d20000;
    --color--success:#ffee2e;
    --border-raduis: 5px;


    margin:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: url(./logbg.jpg);
    background-size: cover;
}


.container {

    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 50px rgba( 0, 0 ,0 ,0.2);
    border-radius: var(--border-radius);
    background: #9de1fe;
    border-radius: 10px;
}


.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand' san-serif;
}

.form--hidden{
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title{

    margin-bottom: 2rem;
    text-align: center;
}


.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color : var(--color--success)
}

.form__message--error {
    color : var(--color--error)
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input{
    display:block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddd;
    outline: none;
    background-color: #eeee;
    transition: background 0.2s border-color 0.2s;

}

.form__input:focus{
    border-color: var(--color--primary);
    background: #ffff;
}

.form__input--error{
    color:var(--color--error);
    border-color: var(--color--error);
}

.form__input--error--message{
    margin-top: 0.2rem;
    font-size: 0.85rem;
    color: var(--color--error);
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color--primary);

}


.form__button-hover{
    background: var(--color--primary--dark);
}

.form__button:active{
    transform: scale(1);
}

.form__text{
    text-align: center;
}

.form__link{
    color: var(--color--secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}